IG_API_KEY=replace_me
IG_USERNAME=replace_me
IG_PASSWORD=replace_me
IG_ACCOUNT_ID=optional_account_id

IG_DEMO_API_KEY=replace_me
IG_DEMO_USERNAME=replace_me
IG_DEMO_PASSWORD=replace_me
IG_DEMO_ACCOUNT_ID=optional_demo_account_id
